<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
        <title>ErisJGDK | Privacy</title>
    </head>
    <body>
        <%- include('includes/header.ejs') %>

        <div class="container">
            <h1>Политика конфиденциальности</h1>
            <p class="text-muted">Последнее обновление: 21 сентября 2024 года</p>

            <br>

            <h2>Какие данные мы сохраняем?</h2>
            <ul>
                <li>IP-адреса</li>
                <li>Файлы cookie</li>
            </ul>

            <h2>Для каких целей мы сохраняем эти данные?</h2>
            <ul>
                <li>Для предотвращения злоупотребления сервисов путём многократной отправки запросов (рейт-лимиты)</li>
                <li>Для восстановления данных об игроке (имени, кода комнаты, идентификатора)</li>
            </ul>

            <h2>Срок хранения данных</h2>
            <p>Все данные, кроме файлов cookie, хранятся <strong>кратковременно</strong> (не записываются ни в базу, ни в журнал).</p>
            <p>Файлы cookie хранятся на вашем устройстве и удаляются по завершении сессии (режим инкогнито) либо при очистке файлов.</p>
            
            <br>

            <p>Срок кратковременного хранения данных (комнаты, игроки, рейт-лимиты и т.д.) варьируется <strong>от 10 секунд до 2 часов</strong>.</p>

            <h2>Изменение Политики конфиденциальности</h2>
            <p>Мы оставляем за собой право вносить изменения в настоящую Политику конфиденциальности. Обо всех её изменениях мы обязаны уведомлять посетителя на главной странице Сайта.</p>
        </div>

        <%- include('includes/scripts.ejs') %>
    </body>
</html>