<footer>
    <p class="text-center footerText">
        Пользуясь данным сайтом, вы соглашаетесь с <a href="/privacy">политикой конфиденциальности</a>. | Мы никак не аффилированы с Jackbox Games.
        <br>
        <span class="text-muted">ErisJGDK Controller v<%= version %> (<%= build_date %>)</span>
    </p>
</footer>