:root {
    --color-primary: #cd9432;
    --color-secondary: #f4f4f4;
    --color-background: #191919;

    --font-primary: 'IBM Plex Sans', sans-serif;
    --font-secondary: 'Exo 2', sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-size: 20px;
    font-family: var(--font-secondary);
    font-weight: 400;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: var(--font-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

a, a:visited {
    color: var(--color-primary) !important;
}

a:hover {
    color: #d1d1d1 !important;
}

a:active {
    color: #c6c6c6 !important;
}

a.disabled {
    opacity: .8;
}

header {
    background-color: #141414;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

header a {
    font-family: var(--font-primary);
}

input[type="text"], input[type="number"], input[type="password"], select {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
    border: 1px solid #2c2c2c !important;
}

button.btn {
    color: var(--color-secondary) !important;
    white-space: nowrap;
    border: none !important;
    box-shadow: none !important;
}

button.btn-primary {
    background-color: var(--color-primary) !important;
}

button.btn-primary:hover {
    background-color: color-mix(in hsl, var(--color-primary), #fff 15%) !important;
}

button.btn-primary:active {
    background-color: color-mix(in hsl, var(--color-primary), #fff 25%) !important;
}

.card {
    background-color: #101010 !important;
}

.swal2-modal {
    background-color: #1a1a1a !important;
    color: #ccc !important;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 50px;
}

footer p {
    color: #bbb;
    font-size: 12px;
}